.contact-section-1-container-sub {
  h2 {
    font-size: 48px;
    margin: 0;
  }
  max-width: 1200px;
  margin: 35px auto;
  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 700px;
    gap: 25px;
  }
  & form > :nth-child(7) {
    grid-column: 1/3;
    height: fit-content;
    textarea {
      height: 100px;
    }
  }
  textarea {
    resize: none;
  }
}

.contact-section-1-container {
  background: linear-gradient(to bottom, #e2f3ff 0, #fffbef 100%);
  padding: 35px;
}

.contact-section-1-container-sub .right-side-container > :nth-child(3) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  align-items: center;
  justify-items: center;
  margin: 25px 0;
  & img {
    max-width: 122px;
  }
}

.contact-section-1-container .sub-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 65px;
  .form-container {
    padding: 50px 30px;
    background: #fff;
    border-radius: 14px;
    box-shadow: 0 10px 15px 0 rgb(0 23 46/7%) !important;
  }

  .form-container {
    min-width: 700px;
  }

  .form-container > div:last-child {
    margin: 15px 0 0;
  }
  .form-container > div:last-child > button {
    display: block;
    box-shadow: 0 10px 15px 0 rgba(175, 0, 87, 0.2);
    background: linear-gradient(to right, #9a99f5 0, #231fff 100%);
    font-size: 16px;
    font-weight: 400;
    font-family: Poppins, sans-serif;
    padding: 0 32px;
    line-height: 56px;
    text-align: center;
    outline: 0;
    background-color: #ff1f8e;
    border: none;
    -webkit-border-radius: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 0;
    border-radius: 100px;
  }

  .form-container > div:last-child > input[type="checkbox"] {
    border: 1px solid #ff1f8e;
    border-radius: 3px;
    accent-color: #ff1f8e;
    height: 20px;
    width: 20px;
  }
}

@media only screen and (max-width: 1250px) {
  .contact-section-1-container .sub-section-container {
    flex-direction: column;
    align-items: stretch;
    .form-container {
      width: 90%;
    }
  }
  .contact-section-1-container-sub form {
    max-width: 100%;
  }
}

@media only screen and (max-width: 750px) {
  .contact-section-1-container-sub {
    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      // min-width: none;
      // width: 100%;
    }
  }
  .contact-section-1-container .sub-section-container {
    .form-container {
      min-width: 100%;
    }
  }
}

@media only screen and (max-width: 500px) {
  .contact-section-1-container-sub .right-side-container > :nth-child(3) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}
