<app-navbar></app-navbar>
<app-common-hero [props]="props"></app-common-hero>
<services-section1></services-section1>
<services-section2></services-section2>
<services-section3></services-section3>
<services-section4></services-section4>
<services-section5></services-section5>
<services-section6></services-section6>
<services-section7></services-section7>
<services-section8></services-section8>
<services-section9></services-section9>
<services-section10></services-section10>
<app-footer></app-footer>