.services-section-1-container-sub {
  margin: 0px auto;
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  justify-content: center;
  & > div {
    display: flex;
    gap: 15px;
    align-items: center;
    p {
      margin: 0;
    }
  }
  img {
    height: 45px;
    width: 45px;
  }
}

.services-section-1-container {
  padding: 25px 15px;
}

.services-section-2-container {
  background: linear-gradient(to bottom, #f3f3ff 0, #e3e7ff 100%);
  padding: 80px 15px;
}

.services-section-2-container-sub {
  margin: 0 auto;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 316px;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0 10px 2px rgba($color: #000000, $alpha: 0.2);
  }
  .about-card-3 {
    width: auto;
  }
}

.services-section-3-container {
  background: #d7d7d785;
  padding: 25px 15px;
}

.services-section-3-container-sub {
  display: flex;
  flex-wrap: wrap;
  margin: 35px auto;
  max-width: 1500px;
  gap: 35px;
  justify-content: center;
  align-items: center;
  & > div {
    height: fit-content;
    width: fit-content;
    padding: 20px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 5px 3px rgba($color: #000000, $alpha: 0.2);
    img {
      height: 60px;
      width: 60px;
      object-fit: contain;
    }
  }
}

.services-section-4-container {
  padding: 25px 15px;
}

.services-section-4-container-sub {
  margin: 35px auto;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services-section-4-container-sub > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.services-section-5-container {
  padding: 25px 15px;
  background: linear-gradient(to bottom, #e8fffc 0, #fff4f4 100%);
}
.services-section-5-container-sub {
  margin: 25px auto;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & > div {
    margin: 25px 15px;
    // display: flex;
  }
}

.services-section-6-container {
  padding: 25px 15px;
  background: linear-gradient(to bottom, #ffe2e2 0, #fff9f4 100%);
}

.services-section-6-container-sub {
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & > div:nth-child(4) {
    display: grid;
    max-width: 1500px;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
  & > div:nth-child(5) {
    font-size: 30px;
    margin-top: 45px;
    color: #050748;
    button {
      margin-left: 30px;
    }
    span {
      font-weight: 800;
    }
  }
}

.services-section-7-container {
  padding: 50px 15px;
}

.services-section-7-container-sub {
  color: white;
  margin: 15px auto;
  max-width: 1500px;
  text-align: center;
  .price-container {
    // width: fit-content;
    font-size: 42px;
    font-weight: 800;
    margin: 0;
    span {
      font-size: 31.5px;
      font-weight: 800;
      position: relative;
      top: -20px;
    }
  }
  p {
    text-align: center;
  }
  & > :last-child {
    margin: 25px 0;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    gap: 45px;
  }
}

.services-section-8-container {
  padding: 35px 15px;
}

.services-section-8-container-sub {
  max-width: 1200px;
  margin: 25px auto;
  & > * {
    text-align: center;
  }
  & > div:nth-child(4) {
    margin: 35px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 35px;
    p {
      text-align: start;
      margin: 0;
    }
  }
}

.button-type-2 {
  border: 2px solid #000248;
  color: #050748;
  padding: 0 32px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  background: #fff;
  -webkit-box-shadow: 0 10px 15px 0 rgba(3, 35, 68, 0.1);
  box-shadow: 0 10px 15px 0 rgba(3, 35, 68, 0.1);
  line-height: 52px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  margin: 5px auto;
  display: block;
}

.services-section-9-container {
  padding: 25px 15px;
  background: linear-gradient(to bottom, #ffebe4 0, #fffcf4 100%);
}

.services-section-9-container-sub {
  max-width: 1500px;
  margin: 25px auto;
  text-align: center;
  & > div {
    display: flex;
    margin: 35px 5px;
    gap: 35px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.services-section-10-container {
  position: relative;
  padding: 50px 15px;
  background: linear-gradient(to bottom, #e0f8ff 0, #fff0e5 100%);
  & > img {
    position: absolute;
  }
  overflow: hidden;
  & > img:first-of-type {
    left: 5px;
    bottom: -25px;
  }
  & > img:nth-of-type(2) {
    right: 250px;
    top: -150px;
  }
  & > img:nth-of-type(3) {
    right: 4px;
    top: 3px;
  }
  & > img:last-of-type {
    right: 5px;
    bottom: -40px;
  }
}

.services-section-10-container-sub {
  margin: 25px auto;
  // display: flex;
  position: relative;
  z-index: 5;
  max-width: 1500px;
  text-align: center;
  h2 { 
    margin: 25px 0;
  }
  p {
    margin: 25px 0;
    text-align: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    span {
      font-size: 28px;
    }
  }
}

@media only screen and (max-width: 1693px) {
  .services-section-4-container-sub > div {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1530px) {
  .services-section-6-container-sub {
    & > div:nth-child(4) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media only screen and (max-width: 1074px) {
  .services-section-4-container-sub > div {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 945px) {
  .services-section-6-container-sub {
    & > div:nth-child(4) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
