.contact-section-1-container-slider {
  overflow: hidden;
  //   overflow-x: scroll;
  position: relative;
  display: flex;
  background: #fff;
  box-shadow: 0 11px 20px rgb(123 149 162/15%);
  margin: 10px auto;
  padding: 30px;
  gap: 60px;
  width: 430px;
  height: fit-content;
  // width: auto;
  border-radius: 10px;
}

.customer-details-container-contact-section-1 {
  display: flex;
  gap: 25px;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  width: 100%;
  img {
    height: 80px;
    width: 80px;
    box-shadow: -20px 20px 35px #dcdcdc, 20px -40px 35px #fff;
    border-radius: 50%;
    object-fit: cover;
  }
  .name {
    color: #050748;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    padding: 0;
  }
  .poste {
    font-size: 16px;
    line-height: 24px;
  }

  & > div {
    display: flex;
    align-items: center;
    gap: 25px;
  }
}

.pagination-container-contact-section-1 {
  position: sticky;
  top: 100%;
  height: fit-content !important;
  right: 5px;
  align-items: flex-end;
  z-index: 5;
  display: flex;
  gap: 10px;
}

%pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  width: 15px;
}

.pagination-simple {
  border: none;
  @extend %pagination;
  span {
    display: block;
    height: 5px;
    width: 5px;
    background-color: rgb(250, 177, 177);
    border-radius: 50%;
  }
}

.pagination-selected {
  @extend %pagination;
  border: 1px solid red;
  border-radius: 50%;
  span {
    display: block;
    height: 5px;
    width: 5px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
  }
}

@media only screen and (max-width: 500px) {
  .contact-section-1-container-slider {
    width: 90%;
  }
}
