.card-1 {
  border-radius: 35px;
  width: 250px;
  height: 350px;
  color: white;
  font-size: 24px;
  font-weight: 700;
  img {
    height: 70%;
    object-fit: contain;
  }
  p {
    padding: 15px;
    position: relative;
    top: -30px;
  }
}

.card-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  // height: 100%;
  img {
    height: 60px;
    object-fit: cover;
  }
}

.card-3 {
  & > div {
    overflow: hidden;
    border-radius: 15px;
    border: none;
    height: 500px;
  }
  img:hover {
    transform: scale(1.3, 1.3);
  }
  img {
    transition: all ease 300ms;
    border-radius: 15px;
    border: none;
    width: 100%;
    height: 500px;
  }
  p {
    font-size: 24px;
    font-weight: bold;
  }
  span {
    font-size: 17px;
    font-weight: 300;
  }
}

.card-3-large {
  width: 60%;
}
.card-3-small {
  width: 35%;
}

.card-4 {
  border-radius: 6px;
  margin: 0 10px;
  padding: 52px 25px;
  height: 240px;
  -webkit-box-shadow: 0 3.4px 2.7px -30px rgba(0, 0, 0, 0.059),
    0 8.2px 8.9px -30px rgba(0, 0, 0, 0.071),
    0 25px 40px -30px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3.4px 2.7px -30px rgba(0, 0, 0, 0.059),
    0 8.2px 8.9px -30px rgba(0, 0, 0, 0.071),
    0 25px 40px -30px rgba(0, 0, 0, 0.2);
  img {
    height: 60px;
  }
  & > p:last-child {
    display: none;
    transform: scaleY(0);
    overflow: hidden;
  }
  & > p:nth-child(2) {
    color: #050748;
    font-weight: 600;
    font-size: 22px;
  }
  & > p:nth-child(3) {
    color: #6a6a8e;
    font-weight: 500;
    font-size: 17px;
  }
}

.card-4purple {
  background: #f3f5ff;
  border-bottom: 4px solid #b0bdff;
}

.card-4blue {
  background: #effdff;
  border-bottom: 4px solid #9ff3ff;
}

.card-4green {
  background: #fbfff1;
  border-bottom: 4px solid #ffdaa2;
}

.card-4small {
}
.card-4normal {
  width: 26%;
}

.card-4large {
  width: 35%;
}

.card-5 {
  display: flex;
  align-items: start;
  gap: 20px;
  margin: 15px;
  max-width: 600px;
  img {
    height: 50px;
  }
  p {
    margin: 2px;
  }
  & > :first-child {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
    border-radius: 8px;
    width: 65px;
    padding: 10px;
  }
}

.card-5 > :nth-child(2) > :first-child {
  font-size: 22px;
  line-height: 32px;
  color: #050748;
  font-weight: 600;
}

.card-5 > :nth-child(2) > :last-child {
  font-size: 17px;
  line-height: 28px;
  color: #6a6a8e;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
}

@media only screen and (max-width: 1100px) {
  .card-4 {
    height: 300px;
  }
  .card-5 > :nth-child(2) > :first-child {
    font-size: 18px;
    line-height: normal;
  }
  .card-5 > :nth-child(2) > :last-child {
    font-size: 14px;
    line-height: normal;
  }
}

@media only screen and (max-width: 900px) {
  .card-1 {
    width: 100%;
    img {
      width: 100%;
      height: 200px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .card-1 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    img {
      width: 100%;
      height: 200px;
    }
  }
}
